/* All content styles, such as lists, tables, paragraphs */

body {
  font-size: 1em;
  line-height: 1.4;
}

/* Highlight text color */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*updates file icons to be inline with content and small amount of space around */
img.file-icon {
  display: inline-block;
  margin: 0 3px;
}

#content a {
    color: #005fe0;
}


/* Background color and removes shadows */
#page {
  background: #f7f7f7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*html table styles */
table {margin: 1em 0; border-spacing: 1;border: #666 2px solid;}
#page table {width: 100%;}
td, th {padding: 5px 2%; word-wrap: break-word; text-align: left; color: #666; border: #666 2px solid;}
tr.alt {background: #e1e1e1;}

/* top of page link styles */
#content .return-top, #content .return-top a {
  clear: right;
  float: right;
  margin: 16px 0 24px;
}
#content .return-top, #content .return-top a {
  padding: 0 50px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #1e3048;
  background: url("../images/psb-top.png") no-repeat right;
  min-height: 21px;
  line-height: 21px;
}

/*Print Icon*/
.print-page {
  cursor: pointer;
}

.print-page:before {
  margin-right: 10px;
  display: inline-block;
  content: '';
  background: url("../images/psb-print.png") no-repeat right;
  width: 16px;
  height: 15px;
}
