/*GLobal Styles */
html {
    font-family: sans-serif;
    background: #1e3048;
}

body {
	min-height: 0%;
}

.region-sidebar-first {
    width: 280px;
    float: left;

}

.menu-block-wrapper {
font-size:1.2em;
color:#1e3048;
}

a.menu__link {
    border-top: 1px solid #fff;
    color: #1e3048;
    padding: 9px 12px;
    font-size: 1.125em;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-decoration: none;
    display: block;
}

#block-menu-menu-quick-links ul a, .menu-block-govcms_menu_block-sidebar .menu a {
    background: none !important;
    
}

.sidebar .block
 .menu-block-govcms_menu_block-sidebar .menu {
    margin: 15px;
}
.menu-block-wrapper.menu-block-govcms_menu_block-sidebar.menu-name-main-menu.parent-mlid-0.menu-level-2 {
    margin-left: -30px;
}