/*GLobal Styles */
html {
    font-family: sans-serif;
    background: #1e3048;
}

body {
	min-height: 0%;
}

.region-sidebar-first {
    width: 250px;
    float: left;

}

.menu-block-wrapper {
font-size:1.1em;
color:#1e3048;
}

a.menu__link {
    border-top: 1px solid #fff;
    color: #1e3048;
    padding: 9px 12px;
    font-size: 1.125em;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-decoration: none;
    display: block;
	font-weight:normal;
}

#block-menu-menu-quick-links ul a, .menu-block-govcms_menu_block-sidebar .menu a {
    background: none !important;
    
}

.sidebar .block
 .menu-block-govcms_menu_block-sidebar .menu {
    margin: 15px;
}
.menu-block-wrapper.menu-block-govcms_menu_block-sidebar.menu-name-main-menu.parent-mlid-0.menu-level-2 {
    margin-left: -30px;
}


.menu-block-govcms_menu_block-sidebar .menu > li > a:hover {
    background:#e2e9f3 !important;
	color: #1e3048 !important;
}
.menu-block-govcms_menu_block-sidebar .menu > li > a {
min-width:240px;
}

.sidebar .block .block__title {
    font-size: 1.5em;
    line-height: 2.275em;
    color: #1e3048;
    padding: 0 0 0 20px;
    padding-top: 20px;
	margin-left: -5px;
}

.sidebar .block .block__title {
    background: #f3f3f3 !important;
}

.sidebar .block .block__content {
    margin-top: -22px;
}

.region-navigation .block__content > .menu > li {
    width: 20%;
}

.region-navigation .block__content > .menu > li > a {
    text-align: center;
}